BorderPane {
    -fx-background-color: black;
    -fx-border-color: #1776eb;    
}

#panelPrincipal{
    -fx-background-image: url("/imagenes/Fondo.jpg");    
}

Button {
    -fx-background-color: black;
}

ImageView{
    -fx-border-color: #1776eb;
}

TreeView{
    -fx-border-color: #1776eb;
}



